:root{
  --main-theme-color: #F1C06F;
  --font-color: black;
}

.home{
  
}

#program {
  color: white !important;
}
#countdown {
  text-align: center;
}
#countdown #seconds, #minutes{
  display: none;
}
#countdown #days{
  display: inline-block;
  text-align: right;
  margin: 0 auto;
  width: fit-content;
  width: 120px;
  background: white;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
}
#countdown #hours{
  display: inline-block;
  margin: 0 auto;
  background: white;
  padding: 5px;
  width: 120px;
  border-radius: 5px;
}
#countdown .time{
  font-size: 1.2em;
  margin-right: 10px;
}
