:root{
  --main-theme-color: #F1C06F;
  --font-color: black;
}

.home{
  
}

#program {
  color: white !important;
}
#countdown {
  text-align: center;
}
#countdown #seconds, #minutes{
  display: none;
}
#countdown #days{
  display: inline-block;
  text-align: right;
  margin: 0 auto;
  width: fit-content;
  width: 120px;
  margin-right: 10px;
}
#countdown #hours{
  display: inline-block;
  margin: 0 auto;
  width: 120px;
}
#countdown .time{
  background: white;
  font-size: 1.2em;
  margin-right: 3px;
  padding: 8px;
  border-radius: 5px;
}

.circle-img{
  border-radius: 50%;
  max-width: 170px;
  min-width: 120px;
}

#organisers .col-block{
  padding-top: 0px;
  padding-bottom: 25px;
}

#organisers h5{
  margin: 2px;
}

section{
  padding-top: 90px !important;
}